* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}

#my-form {
  padding: 2rem;
  background: #f4f4f4;
}

#my-form label {
  display: block;
}

#my-form input[type='text'] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn1 {
  display: inline-block;
  width: 40%;
  padding: 10px 15px;
  border: 30;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 10px 15px;
}

.btn1:hover {
  background: #444;
}

.btn2 {
  display: inline-block;
  width: 40%;
  padding: 10px 15px;
  border: 30;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 10px 15px;
}

.btn2:hover {
  background: #444;
}

#num {
  display: block;
}

.error {
  background: orangered;
  color: black;
  padding: 5px;
  margin: 5px;
}

.btn {
  display: inline-block;
  width: 15%;
  padding: 10px 15px;
  border: 30;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 10px 15px;
}

.active{
  background: green;
  color: whitesmoke;
}